Cahaya Hospitality Follow-up 1.json
{
  "name": "Cahaya Hospitality Follow-up 1",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZGvTywrl7OZb0iBKsgUKVKwjQYk7b8PkXK-flKQ31nc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Daily Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZGvTywrl7OZb0iBKsgUKVKwjQYk7b8PkXK-flKQ31nc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "FU 1 Date",
              "lookupValue": "={{ $json.today_full }}"
            },
            {
              "lookupColumn": "WhatsApp FU 1",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        0
      ],
      "id": "59327394-45b8-4a03-804d-f60d380f66ab",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5PNDat5dL0dyrkT4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\n\n// Format 1 → DD-M-YY (28-4-26)\nfunction formatShort(date) {\n  const dd = String(date.getDate()).padStart(2, '0');\n  const mm = date.getMonth() + 1; // no leading zero\n  const yy = String(date.getFullYear()).slice(-2);\n\n  return `${dd}-${mm}-${yy}`;\n}\n\n// Format 2 → DD/MM/YYYY (28/04/2026)\nfunction formatFull(date) {\n  const dd = String(date.getDate()).padStart(2, '0');\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const yyyy = date.getFullYear();\n\n  return `${dd}/${mm}/${yyyy}`;\n}\n\nreturn [\n  {\n    json: {\n      today_short: formatShort(today),   // 28-4-26\n      today_full: formatFull(today),     // 28/04/2026\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "f1072d5a-06d4-453d-9c8f-a5911ba8ea00",
      "name": "Get Date"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "cs-cst-evolution-api-2a1051ef",
        "remoteJid": "={{ $json.Contact }}@s.whatsapp.net",
        "messageText": "=Hi {{ $json['Full Name'] }}, hope you're good! \n\nWanted to share what your weekend could look like — private beach, no neighbours, Jacuzzi under open sky, Arabian Sea right in front. 🏖️ Still thinking it through? Happy to answer any questions.  \n\nCahaya - Beach House Mandvi.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        880,
        16
      ],
      "id": "be97ea3f-704e-448a-b5d3-43c7f6f40683",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "FZi7UEeuRa1rmgop",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZGvTywrl7OZb0iBKsgUKVKwjQYk7b8PkXK-flKQ31nc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Daily Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZGvTywrl7OZb0iBKsgUKVKwjQYk7b8PkXK-flKQ31nc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $('Loop Over Items').item.json['Lead ID'] }}",
            "WhatsApp FU 1": "Sent"
          },
          "matchingColumns": [
            "Lead ID"
          ],
          "schema": [
            {
              "id": "Lead ID",
              "displayName": "Lead ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check-in Date",
              "displayName": "Check-in Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Created",
              "displayName": "Lead Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Called",
              "displayName": "Lead Called",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp Sent?",
              "displayName": "WhatsApp Sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow-up 1",
              "displayName": "Follow-up 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FU 1 Date",
              "displayName": "FU 1 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp FU 1",
              "displayName": "WhatsApp FU 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Follow-up Call",
              "displayName": "Lead Follow-up Call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow-up 2",
              "displayName": "Follow-up 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FU 2 Date",
              "displayName": "FU 2 Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp FU 2",
              "displayName": "WhatsApp FU 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        16
      ],
      "id": "d48d47cf-ecb5-43b1-90ea-2050e27e9084",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5PNDat5dL0dyrkT4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "6d539b04-2b24-4d36-b7a6-49de316d91b0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        16
      ],
      "id": "cfa59e91-d6ef-4346-8e97-0b30f5697b63",
      "name": "Wait",
      "webhookId": "2128c289-0bba-46fc-9f90-f585a9b3be19"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7ba99230-4d07-4017-aab4-50353fd6cf08",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Date": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fd3ad139-061e-4b10-b476-a1a212404557",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df83074dbe97ad6c72560a7deb6b064fc09933005a91b4563f6d50e2c640906f"
  },
  "nodeGroups": [],
  "id": "6IB4gt56JzedAOHI",
  "tags": []
}